@model MyJeepTrader.Web.ViewModels.NotificationViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Notifications</h2>
<div class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div>
                    <div class="col-md-12">
                        @if (ViewBag.Message != null)
                        {
                            if (ViewBag.Message.Contains("wrong"))
                            {
                                <div id="divError" class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <span id="spanErrorMessage">@ViewBag.Message</span>
                                </div>
                            }
                            else
                            {
                                <div id="divSuccess" class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <span id="spanSuccessMessage">@ViewBag.Message</span>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="well well-sm">
                @foreach (var notification in Model.Notifications)
                {
                    <div id="divNotification" class="Posts" data-post="@notification.NotificationId">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="ui-icon-image">
                                    @if (notification.Avatar != null)
                                    {
                                        <img src="@Url.Action("ShowAvatar", "Home", new { UserName = @notification.FromUserName})" alt="Image Unavailable" class="img-circle streamImage" />
                                    }
                                    else
                                    {
                                        <img src="~/Images/placeholder.jpg" width="87" height="85" class="img-circle streamImage" />
                                    }
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="text-left row">
                                    <div class="col-md-12">
                                        <label id="lblUserName">@notification.FromUserName</label>&nbsp;<label class="pull-right">@String.Format("{0:M/dd/yyyy}", @notification.DateCreated)</label>
                                    </div>
                                    <div class="col-md-12">
                                        @if (notification.Comment != null)
                                        {
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <label class="commentTitle">Commented on your status from @String.Format("{0:M/dd/yyyy}", @notification.StatusDate) </label>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <label class="Status">@notification.Status</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <label class="Comment">@notification.Comment</label>
                                                </div>
                                            </div>
                                        }
                                        else if (notification.Message != null)
                                        {
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <label class="MessageTitle">New Personal Message!</label>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <a>Click to View!</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else if (notification.LikedBy != null)
                                        {
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <label class="MessageTitle">@notification.FromUserName loved your beep from @String.Format("{0:M/dd/yyyy}", @notification.StatusDate)!</label>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <label class="Status">@notification.Status</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else if (notification.DislikedBy != null)
                                        {
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <label class="MessageTitle">Oh No! @notification.FromUserName hated your beep from @String.Format("{0:M/dd/yyyy}", @notification.StatusDate)! Better luck next time. :p</label>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <label class="Status">@notification.Status</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else if (notification.FriendListId != null)
                                        {
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <label class="MessageTitle">You have a new follower! Accept them now so they can see your beeps!</label>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <a>Accept</a>
                                                            <a>Reject</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                }
            </div>
        </div>
        <div class="col-md-3">
            <div class="placeholder">

            </div>
        </div>
    </div>
</div>

