@model MyJeepTrader.Web.ViewModels.LiveStreamViewModel
@{
    ViewBag.Title = "LiveStream";
}

<h2>LiveStream</h2>
<div class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <h4>Mini Dashboard</h4>
                    <div>
                        @Html.Action("MiniDashboardPartial", "MiniDashboard")
                        @Html.Action("TimelineSettingsPartial", "MiniDashboard")
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div>
                    <div class="col-md-12">
                        @if (ViewBag.Message != null)
                        {
                            if (ViewBag.Message.Contains("wrong"))
                            {
                                <div id="divSuccess" class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <span id="spanSuccessMessage">@ViewBag.Message</span>
                                </div>
                            }
                            else
                            {
                                <div id="divError" class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <span id="spanErrorMessage">@ViewBag.Message</span>
                                </div>
                            }
                        }
                    </div>
                    <div class="col-md-6">
                        @Html.Action("StatusPostSearchPartial", "Status")
                    </div>
                    <div class="col-md-6">
                        <div class="well well-sm">
                            @Html.TextBox("SearchFeed", null, new { @class = "form-control input-sm no-max-width", @placeholder = "Search your feed" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="well well-sm">
                @foreach (var stream in Model.LiveFeeds)
                {
                    if (stream.IsFeedPost == true)
                    {
                        if (Model.Settings.Posts == true)
                        {
                            <div id="divLiveStream" class="Posts">
                                <div class="row">
                                    <label class="hidden">@stream.FeedId</label>
                                    <div class="col-md-2">
                                        <div class="ui-icon-image">
                                            @if (stream.FeedAvatar != null)
                                            {
                                                <img src="@Url.Action("ShowAvatar", "Home", new { UserName = @stream.FeedUserName})" alt="Image Unavailable" class="img-circle streamImage" />
                                            }
                                            else
                                            {
                                                <img src="~/Images/placeholder.jpg" width="87" height="85" class="img-circle streamImage" />
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="text-left row">
                                            <div class="col-md-12">
                                                <label id="lblUserName">@stream.FeedUserName</label>
                                            </div>
                                            <div class="col-md-12">
                                                @stream.FeedDescription
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <a id="aFullPost" href="#" class="navbar-link pull-right">Full Post</a>
                                        <div class="dropdown">
                                            <button class="btn btn-sm dropdown-toggle glyphicon glyphicon-bell" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                <li><a id="aComment"><span class="glyphicon glyphicon-comment">&nbsp;<label>Comment</label></span></a></li>
                                                <li><a id="aAddFriend" onclick="AddFriend('@stream.FeedUserName')"><span class="glyphicon glyphicon-plus">&nbsp;<label>Follow </label></span></a></li>
                                                <li><a id="aDirectMessage"><span class="glyphicon glyphicon-envelope">&nbsp;<label>Message</label></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        if (Model.Settings.Status == true)
                        {
                            <div id="divLiveStream" class="Status">
                                <div class="row">
                                    <label class="hidden">@stream.FeedId</label>
                                    <div class="col-md-2">
                                        <div class="ui-icon-image">
                                            @if (stream.FeedAvatar != null)
                                            {
                                                <img src="@Url.Action("ShowAvatar", "Home", new { UserName = @stream.FeedUserName })" alt="Image Unavailable" class="img-circle streamImage" />
                                            }
                                            else
                                            {
                                                <img src="~/Images/placeholder.jpg" width="87" height="85" class="img-circle streamImage" />
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="text-left row">
                                            <div class="col-md-12">
                                                <label>@stream.FeedUserName</label>
                                            </div>
                                            <div class="col-md-12">
                                                @stream.FeedDescription
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="dropdown">
                                            <button class="btn btn-sm dropdown-toggle glyphicon glyphicon-bell" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                <li><a id="aComment"><span class="glyphicon glyphicon-comment">&nbsp;<label>Comment</label></span></a></li>
                                                <li><a id="aAddFriend" onclick="AddFriend('@stream.FeedUserName')"><span class="glyphicon glyphicon-plus">&nbsp;<label>Follow </label></span></a></li>
                                                <li><a id="aDirectMessage"><span class="glyphicon glyphicon-envelope">&nbsp;<label>Message</label></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
        <div class="col-md-3">
            <div class="placeholder">
                <label>Hot Posts and Such</label>
            </div>
        </div>
    </div>
</div>
<script>

    //$('#aAddFriend').click(function () {
    //    var friendName = $('#aFriendName').val();

    //    AddFriend(friendName);
    //});

    function AddFriend(friendName) {

        var data = {
            friendName: friendName
        };

        $.ajax({
            type: 'POST',
            url: '/Home/AddFriend',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                $('#divSuccess').show();
                $('#spanSuccessMessage').html("Settings Saved Successfully!");
            }
        });
    }
</script>