@model MyJeepTrader.Web.ViewModels.LiveStreamViewModel
@{
    ViewBag.Title = "LiveStream";
}

<h2>LiveStream</h2>
<div class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <h4>Mini Dashboard</h4>
                    <div>
                        @Html.Action("MiniDashboardPartial", "MiniDashboard")
                        @Html.Action("TimelineSettingsPartial", "MiniDashboard")
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div>
                    <div class="col-md-12">
                        @if (ViewBag.Message != null)
                        {
                            if (ViewBag.Message.Contains("wrong"))
                            {
                                <div id="divError" class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <span id="spanErrorMessage">@ViewBag.Message</span>
                                </div>
                            }
                            else
                            {
                                <div id="divSuccess" class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <span id="spanSuccessMessage">@ViewBag.Message</span>
                                </div>
                            }
                        }
                    </div>
                    <div class="col-md-6">
                        @Html.Action("StatusPostSearchPartial", "Status")
                    </div>
                    <div class="col-md-6">
                        <div class="well well-sm">
                            @Html.TextBox("SearchFeed", null, new { @class = "form-control input-sm no-max-width", @placeholder = "Search your feed" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="well well-sm">
                @foreach (var stream in Model.LiveFeeds)
                {
                    if (stream.IsFeedPost == true)
                    {
                        if (Model.Settings.Posts == true)
                        {
                            <div id="divLivePost" class="Posts" data-post="@stream.FeedId">
                                <div class="row">
                                    <label class="hidden">@stream.FeedId</label>
                                    <div class="col-md-2">
                                        <div class="ui-icon-image">
                                            @if (stream.FeedAvatar != null)
                                            {
                                                <img src="@Url.Action("ShowAvatar", "Home", new { UserName = @stream.FeedUserName})" alt="Image Unavailable" class="img-circle streamImage" />
                                            }
                                            else
                                            {
                                                <img src="~/Images/placeholder.jpg" width="87" height="85" class="img-circle streamImage" />
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="text-left row">
                                            <div class="col-md-12">
                                                <label id="lblUserName">@stream.FeedUserName</label>
                                            </div>
                                            <div class="col-md-12">
                                                @stream.FeedDescription
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="dropdown pull-right">
                                            <a class="btn-link postDropdown" id="dropdownMenu1" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-option-horizontal"></span></a>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                <li><a id="aFullPost" onclick="RedirectToPost('@stream.FeedId')" class="fullPost"><span class="glyphicon glyphicon-eye-open">&nbsp;<label>View</label></span></a></li>
                                                <li><a id="aAddFriend" onclick="AddFriend('@stream.FeedUserName')" class="addFriend"><span class="glyphicon glyphicon-plus">&nbsp;<label>Follow </label></span></a></li>
                                                <li><a id="aDirectMessage"><span class="glyphicon glyphicon-envelope">&nbsp;<label>Message</label></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        }
                    }
                    else
                    {
                        if (Model.Settings.Status == true)
                        {
                            <div id="divLiveStream" class="Status" data-status="@stream.FeedId">
                                <div class="row">
                                    <label class="hidden">@stream.FeedId</label>
                                    <div class="col-md-2">
                                        <div class="ui-icon-image">
                                            @if (stream.FeedAvatar != null)
                                            {
                                                <img src="@Url.Action("ShowAvatar", "Home", new { UserName = @stream.FeedUserName })" alt="Image Unavailable" class="img-circle streamImage" />
                                            }
                                            else
                                            {
                                                <img src="~/Images/placeholder.jpg" width="87" height="85" class="img-circle streamImage" />
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="text-left row">
                                            <div class="col-md-12">
                                                <label>@stream.FeedUserName</label>
                                            </div>
                                            <div class="col-md-12">
                                                @stream.FeedDescription
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        @if (stream.FeedLikeCount == 0)
                                        {
                                            <a onclick="UpdateLikeCount('@stream.FeedId')"><span class="glyphicon glyphicon-heart-empty"></span></a>
                                        }
                                        else
                                        {
                                            <a onclick="UpdateLikeCount('@stream.FeedId')"><span class="glyphicon glyphicon-heart"></span></a>
                                        }
                                        &nbsp;
                                        <a onclick="UpdateLikeCount('@stream.FeedId')"><span><label id="lblLikeCount_@stream.FeedId" class="likeCount">@stream.FeedLikeCount</label></span></a>
                                        &nbsp;
                                        <a onclick="UpdateDislikeCount('@stream.FeedId')"><span class="glyphicon glyphicon-thumbs-down"></span></a>
                                        &nbsp;
                                        <a onclick="UpdateDislikeCount('@stream.FeedId')"><span><label id="lblDislikeCount_@stream.FeedId">@stream.FeedDislikeCount</label></span></a>
                                        &nbsp;
                                        <a>Comments<span><label id="lblCommentCount_@stream.FeedId" class="commentCount"></label></span></a>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="dropdown pull-right">
                                            <a class="btn-link statusDropdown" id="dropdownMenu1" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-option-horizontal"></span></a>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                <li><a id="aComment"><span class="glyphicon glyphicon-comment aComment" data-status="@stream.FeedId">&nbsp;<label>Comment</label></span></a></li>
                                                <li><a id="aAddFriend" onclick="AddFriend('@stream.FeedUserName')" class="addFriend"><span class="glyphicon glyphicon-plus">&nbsp;<label>Follow </label></span></a></li>
                                                <li><a id="aDirectMessage"><span class="glyphicon glyphicon-envelope">&nbsp;<label>Message</label></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hidden" id="divCreateComment_@stream.FeedId">
                                <div>
                                    <input type="text" id="tbComment_@stream.FeedId" placeholder="Comment Now"/>
                                    <input type="button" class="btn-primary createComment" value="Comment" onclick="CreateComment(@stream.FeedId)"/>
                                </div>
                            </div>
                            <div class="hidden" id="divComment_@stream.FeedId">
                            </div>
                            <hr />
                        }
                    }
                }
            </div>
        </div>
        <div class="col-md-3">
            <div class="placeholder">
                <label>Hot Posts and Such</label>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
<script>
    $('.Posts').click(function () {
        var postId = $(this).data("post");
        RedirectToPost(postId);
    });

    $('.Status').click(function () {
        var statusId = $(this).data("status");
        $('#divCreateComment_' + statusId).removeClass('hidden');
        $('#divComment_' + statusId).removeClass('hidden');

        GetComments(statusId);
    });

    $('.postDropdown').click(function () {
        $(this).next(".dropdown-menu").toggle();
        return false;
    });

    $('.postDropdown').focusout(function () {
        $(this).next(".dropdown-menu").hide();
        return false;
    });

    $('.statusDropdown').click(function () {
        $(this).next(".dropdown-menu").toggle();
        return false;
    });

    $('.statusDropdown').focusout(function () {
        $(this).next(".dropdown-menu").hide();
    });

    $('.hideComments').click(function () {
        var statusId = $(this).data("status");
        $('#divComment_' + statusId).addClass('hidden');
    });

    $('.aComment').click(function () {
        var statusId = $(this).data("status");
        $('#divCreateComment_' + statusId).removeClass('hidden');
    });

    function AddFriend(friendName) {

        var data = {
            friendName: friendName
        };

        $.ajax({
            type: 'POST',
            url: '/Home/AddFriend',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                $('#divSuccess').show();
                $('#spanSuccessMessage').html("Settings Saved Successfully!");
            }
        });
    }

    function RedirectToPost(postId) {
        window.location.href = '/Post/Details?PostId=' + postId;
    }

    function UpdateLikeCount(statusId) {

        var data = {
            statusId: statusId
        }

        $.ajax({
            type: 'POST',
            url: '/Webservices/FriendManagementWebService.asmx/UpdateLikeCount',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (result) {
                $('#lblLikeCount_' + statusId).text(result.d);
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    function UpdateDislikeCount(statusId) {
        var data = {
            statusId: statusId
        }

        $.ajax({
            type: 'POST',
            url: '/Webservices/FriendManagementWebService.asmx/UpdateDislikeCount',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (result) {
                $('#lblDislikeCount_' + statusId).text(result.d);
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    function GetComments(statusId) {
        var data = {
            statusId: statusId
        }

        $.ajax({
            type: 'POST',
            url: '/Webservices/CommentsWebService.asmx/GetCommentsByStatusId',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (result) {
                var commentContext = '';

                $.each(result.d, function (k, v) {

                    var userName = v.UserName;

                    var imageSource = '@Url.Action("ShowAvatar", "Home", new { UserName = "username" })';
                    imageSource = imageSource.replace("username", userName);

                    commentContent = '<div class="row col-sm-offset-1"><div class="col-md-2"><img src="' + imageSource + '" alt="Image Unavailable" class="img-circle streamImage" /></div><div class="col-md-10"><div class="text-left row"><div class="col-md-12"><label>' + v.UserName + '</label></div><div class="col-md-12"><span>' + v.Comment + '</span></div></div></div></div></br>';

                    $('#divComment_' + statusId).append(commentContent);
                });
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    function GetCommentsCount(statusId) {
        var data = {
            statusId: statusId
        }

        $.ajax({
            type: 'POST',
            url: '/Webservices/CommentsWebService.asmx/GetCommentsCount',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (result) {

                $('#lblCommentCount' + statusId).Text(result.d)

            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    function CreateComment(statusId) {

        var comment = $('#tbComment_' + statusId).val();

        var data = {
            statusId: statusId,
            comment: comment
        }

        $.ajax({
            type: 'POST',
            url: '/Webservices/CommentsWebService.asmx/CreateComment',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (result) {
                $('#tbComment_' + statusId).val('');
                $('#divComment_' + statusId).html('');
                GetComments(statusId);
            },
            error: function (errorThrown) {
                console.log(errorThrown);
            }
        });
    }

</script>
