@using MyJeepTrader.Data
@model MyJeepTrader.Web.ViewModels.PostCreateViewModel

@{
    ViewBag.Title = "Create";
}

<h3>New Posting</h3>
<div class="form-horizontal">
    <div id="rootwizard">
        <div class="navbar col-sm-offset-4">
            <div class="navbar-inner">
                <div>
                    <ul>
                        <li><a href="#tab1" data-toggle="tab">Step 1</a></li>
                        <li><a href="#tab2" data-toggle="tab">Step 2</a></li>
                        <li><a href="#tab3" data-toggle="tab">Step 3</a></li>
                        <li><a href="#tab4" data-toggle="tab">Step 4</a></li>
                        <li><a href="#tab5" data-toggle="tab">Step 5</a></li>
                    </ul>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("Create", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="tab-content col-sm-offset-3">
                <div class="tab-pane" id="tab1">
                    <h2>Step 1</h2>
                    <div class="form-group">
                        <div class="col-md-4">
                            <h4>Select a type of post.</h4>
                            @foreach (tPostType item in Model.PostTypes)
                            {
                                <div class="form-group-sm">
                                    @Html.RadioButtonFor(model => model.SelectedPostTypeId, item.PostTypeId, new { id = item.Type })
                                    <label id="lblPostType" for="@item.Type">@item.Type </label>
                                </div>
                            }
                        </div>
                        <div class="col-md-4">
                            <h4>Select a state.</h4>
                            @Html.DropDownListFor(model => model.SelectedStateId, new SelectList(Model.States, "StateId", "State"), "Select State", new { @class = "form-control", @onchange = "javascript:GetCity(this.value);" })
                            <h4>Select a city.</h4>
                            @Html.DropDownListFor(m => m.SelectedCityId, new SelectList(Enumerable.Empty<SelectListItem>()),  new { @class = "form-control", id = "ddlCity" })
                            @*<select id="ddlCity" name="ddlCity" class="form-control" ></select>*@
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab2">
                    <h2>Step 2</h2>
                    <div class="form-group">
                        <div class="col-md-4">
                            <h4>Choose a jeep model.</h4>
                            @for (var i = 0; i < Model.Models.Count(); i++)
                            {
                                <div class="form-group-sm">
                                    @Html.HiddenFor(model => model.Models[i].TModel.ModelId, new { id = "hdModelVal" })
                                    @Html.CheckBoxFor(model => model.Models[i].IsSelected)
                                    <label>@Model.Models[i].TModel.Model</label>
                                </div>

                            }
                        </div>
                        <div class="col-md-4">
                            <h4>Choose a model year.</h4>
                            @Html.DropDownListFor(model => model.SelectedYearId, new SelectList(Model.Years, "YearId", "Year"), "Select Year", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab3">
                    <h2>Step 3</h2>
                    <h4>Select Images</h4>
                    <div class="form-group">
                        <div class="upload-container col-md-4">
                            <div class="upload">
                                <input type="file" name="files" id="file1" class="filestyle" multiple data-classbutton="btn btn-primary" data-input="false" data-iconname="glyphicon glyphicon-picture" data-buttontext="Upload" width="83" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab4">
                    <h2>Step 4</h2>
                    <h4>Create post title and description.</h4>
                    <div class="form-group">
                        <label class="col-sm-2">Title:</label>
                        <div class="col-sm-5" id="jeepTypeDiv">
                            @Html.TextBoxFor(model => model.Post.PostTitle, new { @class = "form-control no-max-width" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">Description:</label>
                        <div class="col-sm-5" id="jeepTypeDiv">
                            @Html.TextAreaFor(model => model.Post.PostDescription, new { @class = "form-control no-max-width" })
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab5">
                    <h2>Step 5</h2>
                    <h4>Review and Create</h4>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="col-sm-2">Post Type:</label>
                                <div class="col-sm-5">
                                    <span id="spanPostType" class="col-sm-3"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="col-sm-2">Model:</label><span id="spanModel" class="col-sm-2"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <div>
                                    <label class="col-sm-2">Year:</label><span id="spanYear" class="col-sm-2"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="col-sm-2">State:</label><span id="spanState" class="col-sm-2"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="col-sm-2">City:</label><span id="spanCity" class="col-sm-2"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <div class="form-group">
                                <div id="divImages">
                                    <div class="col-md-2">
                                        <img src="~/Images/placeholder.jpg" width="87" height="85" />
                                    </div>
                                    <div class="col-md-2">
                                        <img src="~/Images/placeholder.jpg" width="87" height="85" />
                                    </div>
                                    <div class="col-md-2">
                                        <img src="~/Images/placeholder.jpg" width="87" height="85" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="col-sm-2">Title: </label><span id="spanTitle" class="col-sm-5"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="col-sm-2">Description: </label>
                                    <span id="spanDescription" class="col-sm-5"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="placeholder"></div>
                <br />
                <div class="col-sm-offset-5">
                    <div class="form-group">
                        <div class="col-md-3">
                            <input type='button' class='btn btn-default button-previous' name='previous' value='Previous' width="30" />
                        </div>
                        <div class="col-md-3">
                            <input type='button' class='btn btn-default button-next' name='next' value='Next' width="30" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript" src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-filestyle.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.bootstrap.wizard.js"></script>
    <script type="text/javascript">

        $(function () {
            $('#rootwizard').bootstrapWizard({ 'nextSelector': '.button-next', 'previousSelector': '.button-previous' });

            $('#Sell').click(function () {
                if ($('#Sell').val() == 1) {
                    $('#spanPostType').text("Sell");
                }
            });

            $('#Trade').click(function () {
                if ($('#Trade').val() == 2) {
                    $('#spanPostType').text("Trade");
                }
            });

            $('#Buy').click(function () {
                if ($('#Buy').val() == 3) {
                    $('#spanPostType').text("Buy");
                }
            });

            $('#SelectedStateId').on("change", function () {
                var _stateId = $('#SelectedStateId').val();
                var url = "/Post/GetStateNameById";

                $.ajax({
                    url: url,
                    data: { StateId: _stateId },
                    cache: false,
                    type: "POST",
                    success: function (data) {
                        $('#spanState').html(data);
                    },
                    error: function (reponse) {
                        alert("error : " + JSON.stringify(reponse));
                    }
                });
            });

            $('#ddlCity').on("change", function () {
                var ddlCity = document.getElementById("ddlCity");

                $('#spanCity').html(ddlCity.options[ddlCity.selectedIndex].text);
            });

            $('#SelectedYearId').on("change", function () {
                var _yearId = $('#SelectedYearId').val();
                var url = "/Post/GetYearById";

                $.ajax({
                    url: url,
                    data: { YearId: _yearId },
                    cache: false,
                    type: "POST",
                    success: function (data) {
                        $('#spanYear').html(data);
                    },
                    error: function (reponse) {
                        alert("error : " + JSON.stringify(reponse));
                    }
                });
            });

            $('#Post_PostTitle').keyup(function () {
                $('#spanTitle').html($(this).val());
            });

            $('#Post_PostDescription').keyup(function () {
                $('#spanDescription').html($(this).val());
            });

            $("input[type='submit']").click(function () {
                var $fileUpload = $("input[type='file']");
                if (parseInt($fileUpload.get(0).files.length) > 2) {
                    alert("You can only upload a maximum of 2 files");
                }
            });
        });

        function GetCity(_stateId) {
            var procemessage = "<option value='0'> Please wait...</option>";
            $("#ddlCity").html(procemessage).show();
            var url = "/Post/GetCityByStateId";

            $.ajax({
                url: url,
                data: { stateid: _stateId },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup = "<option value='0'>Select City</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].CityId + ">" + data[x].City + "</option>";
                    }
                    $("#ddlCity").html(markup).show();
                },
                error: function (reponse) {
                    alert("error : " + JSON.stringify(reponse));
                }
            });

        }

        @*$(function () {
            var currentImage = 1;
            $("body").on("change", "input[name='files']", function () {
                var pathToRemoveIcon = "@Url.Content("~/Images/delete.png")";
                currentImage = currentImage + 1;
                var htmlToAppend = '<div class="upload"><input type="file" name="files" class="filestyle" data-classbutton="btn btn-primary" data-input="false" data-iconname="glyphicon glyphicon-picture" data-buttontext="Upload" width="83" id="file' + currentImage + '" /><img src="' + pathToRemoveIcon + '" alt="Remove picture." /></div>';
                $('.upload-container').append(htmlToAppend);
            }).on("click", ".upload img", function () {
                if ($(this).parent().siblings().length > 0) {
                    $(this).parent().remove();
                }
            });
        });*@

    </script>
}
