@model MyJeepTrader.Data.Models.SearchedPosts

@{
    ViewBag.Title = "Details";
}
<link rel="stylesheet" href="~/Content/jquery.fancybox.css" media="screen" />
<link rel="stylesheet" href="~/Content/jquery.fancybox-buttons.css" media="screen" />
<link rel="stylesheet" href="~/Content/jquery.fancybox-thumbs.css" media="screen" />
<h2>Post Details</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row col-lg-offset-1">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>State: </label>
                            @Html.DisplayFor(model => model.State)
                        </div>
                        <div class="col-lg-12">
                            <label>City: </label>
                            @Html.DisplayFor(model => model.City)
                        </div>
                        <div class="col-lg-12">
                            <label>Date Posted: </label>
                            @Html.DisplayFor(model => model.DateCreated)
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    @if (Model.PartBrand != null)
                    {
                        <div class="col-lg-12">
                            <label>Part Brand: </label>
                            @Html.DisplayFor(model => model.PartBrand)
                        </div>
                        <div class="col-lg-12">
                            <label>Part Name:</label>
                            @Html.DisplayFor(model => model.PartName)
                        </div>
                    }
                </div>
            </div>
            <div class="row col-lg-offset-1">
                <div class="col-lg-6">
                    <div class="tab_container">
                        <p style="display:block">
                            @foreach (var image in Model.Images)
                            {
                                string convertedImage = Convert.ToBase64String(image.ToArray());
                                <a class="fancybox-thumb" rel="group" href="@String.Format("data:image/jpg;base64,{0}", convertedImage)">
                                    <img src="@String.Format("data:image/jpg;base64,{0}", convertedImage)" width="80px" height="80px"/>
                                </a>
                            }
                        </p>
                    </div>
                </div>
            </div>
            <br />
            <div class="row col-lg-offset-1">
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <label>Title: </label>
                        @Html.DisplayFor(model => model.PostTitle)
                    </div>
                    <div class="col-lg-12">
                        <label>Description: </label>
                        <div>
                            <p>
                                @Html.DisplayFor(model => model.PostDescription)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/jquery.mousewheel-3.0.6.pack.js"></script>
    <script src="~/Scripts/jquery.fancybox.pack.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.fancybox-buttons.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.fancybox-media.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.fancybox-thumbs.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox-thumb").fancybox({
                prevEffect: 'none',
                nextEffect: 'none',
                helpers: {
                    title: {
                        type: 'outside'
                    },
                    thumbs: {
                        width: 50,
                        height: 50
                    }
                }
            });
        });
    </script>
}
@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.PostId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
