@model MyJeepTrader.Data.Models.SearchedPosts

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tPost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDescription)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.PartType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartType)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.PartBrand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartBrand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Vehicle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.VehicleMake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleMake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleYear)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PostId }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
