@using System.Web.UI.WebControls
@model MyJeepTrader.Web.ViewModels.PostIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Jeep Trader Posts</h2>

@*@if (ViewBag.Message != null)
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @ViewBag.Message
    </div>
}*@

@*<div class="row">
    <div>

    </div>
</div>*@

@using (Html.BeginForm("SearchPosts", "Post", FormMethod.Post))
{
    <div class="input-group">
        @Html.TextBox("Search", null, new { @class = "form-control input-lg no-max-width", @placeholder = "Search Posts" })
        <span class="input-group-btn">
            <button class="btn btn-default btn-group-lg btn-lg" type="button">Go!</button>
        </span>
    </div>
}

<br/>

<div>
    <i class="glyphicon glyphicon-plus"></i>&nbsp;@Html.ActionLink("Create New Posting", "Create")
</div>

<br/>

@if (Model != null && Model.SearchedPosts != null)
{
    <table class="table">
        <tr>
            <th>Post Title</th>
            <th>Post Description</th>
            <th>Part Name</th>
        </tr>
        @foreach (var item in Model.SearchedPosts)
        {
            <tr>
                <td>@item.PostTitle</td>
                <td>@item.PostDescription</td>
                <td>@item.PartName</td>
            </tr>
            
        }
        
    </table>
}

@*@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            alert(@ViewBag.Message);
            var message = @ViewBag.Message;
            if (message) {
                alert("test");
                sweetAlert("@ViewBag.Header", "@ViewBag.Message", "info");
            }
        });


    </script>

}*@

