@using System.Web.UI.WebControls
@model MyJeepTrader.Web.ViewModels.PostIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h2>My Jeep Trader Posts</h2>

        @if (ViewBag.Message != null)
        {
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                @ViewBag.Message
            </div>
        }



        @if (User.Identity.IsAuthenticated)
        {
            <div>
                <i class="glyphicon glyphicon-plus"></i>&nbsp;@Html.ActionLink("Create New Posting", "Create")
            </div>
        }

        <br />

        @using (Html.BeginForm("SearchPosts", "Post", FormMethod.Post))
        {
            <div class="input-group">
                @Html.TextBox("Search", null, new { @class = "form-control input-lg no-max-width", @placeholder = "Search Posts" })
                <span class="input-group-btn">
                    <button class="btn btn-default btn-group-lg btn-lg" type="button">Go!</button>
                </span>
            </div>
        }

        <br />

        @if (Model != null && Model.SearchedPosts != null)
        {
            <table class="table table-responsive">
                <tr>
                    <th></th>
                    <th>Post Title</th>
                    <th>Post Description</th>
                    <th>Jeep Model</th>
                    <th>Part Brand</th>
                    <th>Part Type</th>
                </tr>
                @foreach (var item in Model.SearchedPosts)
                {
                    <tr>
                        <td>@Html.ActionLink("View", "Details", "Post", new { PostId = @item.PostId }, new { })</td>
                        <td>@item.PostTitle</td>
                        <td width="40%">@item.PostDescription</td>
                        <td width="20%">
                            @Html.Raw(string.Join(", ", item.tModelPostControls.Select(m => string.Format("<span>{0}</span>", m.tModel.Model))))
                        </td>
                        <td>@item.PartBrand</td>
                        <td>@item.PartType</td>
                    </tr>

                }

            </table>
        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            alert(@ViewBag.Message);
            var message = @ViewBag.Message;
            if (message) {
                alert("test");
                sweetAlert("@ViewBag.Header", "@ViewBag.Message", "info");
            }
        });


    </script>

}

