@model MyJeepTrader.Web.ViewModels.LiveStreamViewModel
@{
    Layout = "";
}
@Styles.Render("~/Content/css")
@foreach (var stream in Model.PublicFeed)
{
    <div id="divLiveStream" class="well-livestream well-sm">
        <div class="row">
            <label class="hidden">@stream.StatusId</label>
            <div class="col-md-2">
                <div class="ui-icon-image">
                    <img src="~/Images/placeholder.jpg" width="100%" />
                </div>
            </div>
            <div class="col-md-10">
                <div class="text-left row">
                    <div class="col-md-12">
                        @stream.AspNetUser.UserName
                    </div>
                    <div class="col-md-12">
                        @stream.Status
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="dropdown">
                    <button class="btn btn-sm dropdown-toggle glyphicon glyphicon-bell" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a id="aComment"><span class="glyphicon glyphicon-comment">&nbsp;<label>Comment</label></span></a></li>
                        <li><a id="aAddFriend" onclick="AddFriend('@stream.AspNetUser.UserName')"><span class="glyphicon glyphicon-plus">&nbsp;<label>Follow </label></span></a></li>
                        <li><a id="aDirectMessage"><span class="glyphicon glyphicon-envelope">&nbsp;<label>Message</label></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

