@model MyJeepTrader.Web.ViewModels.UserProfileDetailsViewModel

@{
    ViewBag.Title = "User Profile";
}

<div class="column" id="column1">
    <div class="form-group-sm">
        <h2>Profile</h2>
        <div class="form-horizontal">
            <div>
                <div class="form-group">
                    <div>
                        <img src="@Url.Action( "ShowAvatar", "UserProfile", new { UserProfileId = Request.QueryString["UserProfileId"] } )" alt="Image Unavailable" width="10%" height="10%" class="col-md-3" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">Name: </label>
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.FirstName) @Html.DisplayFor(m => m.LastName)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">Birthday: </label>
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.BirthDate, "{0:MM/dd/yyyy}")
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">About You: </label>
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.Description)
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group-sm">
            <h2>Social Networks</h2>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3">Facebook: </label>
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.Facebook)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">Google +: </label>
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.GooglePlus)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">Ello: </label>
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.Ello)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">My Website: </label>
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.Website)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="column" id="column2">
    <div class="form-group-sm">
        <h2>Primary Jeep</h2>
        <div class="form-horizontal">
            <div>
                <div class="form-group">

                </div>
            </div>
        </div>
    </div>
    <div class="form-group-sm">
        <h2>Recent Post</h2>
        <div class="form-horizontal">
            <div>
                <div class="hidden">
                    @Html.TextAreaFor(m => m.RecentPost.PostId)
                </div>
                <div class="form-group">
                    <label class="col-sm-3">Title: </label>@Html.DisplayFor(m => m.RecentPost.PostTitle)
                </div>
                <div class="form-group">
                    <label class="col-sm-3">Post Type: </label> @Html.DisplayFor(m => m.RecentPost.PostType)
                </div>
                <div class="form-group">
                    <label class="col-sm-3">Description: </label> @Html.DisplayFor(m => m.RecentPost.PostDescription)
                </div>
            </div>
        </div>
    </div>
    <div class="form-group-sm">
        <h2>All Posts</h2>
        <div class="form-horizontal">
            <div>
                <table class="table">
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Type</th>
                    </tr>
                    @foreach (var item in Model.UserPosts)
                    {
                        <tr>
                            <td>
                                <button type="button" class="btn-link">View</button>
                            </td>
                            <td>@item.PostTitle</td>
                            <td>@item.PostDescription</td>
                            <td>@item.PostType</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

