@model IEnumerable<MyJeepTrader.Data.tUserProfile>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avatar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Facebook)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GooglePlus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Twitter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ello)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            <img src='@Url.Action("ShowAvatar", "UserProfile", new { UserProfileId = item.UserProfileId })' />
            @*@Html.DisplayFor(modelItem => item.Avatar)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Website)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Facebook)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GooglePlus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Twitter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ello)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserProfileId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserProfileId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserProfileId })
        </td>
    </tr>
}

</table>
