@model MyJeepTrader.Web.ViewModels.UserProfileIndexViewModel

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Avatar
        </th>
        <th>
            About You
        </th>
        <th>
            Birth Day
        </th>
        <th>
            Website
        </th>
        <th>
            Facebook
        </th>
        <th>
            Google Plus
        </th>
        <th>
            Twitter
        </th>
        <th>
            Ello
        </th>
        <th>
            Username
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.UserProfiles) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            <img src='@Url.Action("ShowAvatar", "UserProfile", new { UserName = item.UserName })' width="43" height="43"  />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Website)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Facebook)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GooglePlus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Twitter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ello)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { UserName = item.UserName })
        </td>
    </tr>
}

</table>
